In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

#import API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,72.07,72,65,16.28,PF,2022-08-03 23:46:42
1,1,Georgetown,5.4112,100.3354,78.89,93,40,3.44,MY,2022-08-03 23:46:43
2,2,Malanje,-9.5402,16.3410,67.01,56,67,4.09,AO,2022-08-03 23:46:43
3,3,Pevek,69.7008,170.3133,35.20,98,100,9.15,RU,2022-08-03 23:46:43
4,4,Hermanus,-34.4187,19.2345,53.80,84,3,11.59,ZA,2022-08-03 23:46:44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Georgetown,5.4112,100.3354,78.89,93,40,3.44,MY,2022-08-03 23:46:43
6,6,Erzin,36.9559,36.2000,77.65,90,35,1.05,TR,2022-08-03 23:46:44
8,8,Bilma,18.6853,12.9164,89.73,40,41,10.74,NE,2022-08-03 23:46:45
11,11,Puerto Escondido,15.8500,-97.0667,84.83,74,52,4.09,MX,2022-08-03 23:46:46
12,12,Avarua,-21.2078,-159.7750,77.05,61,87,14.97,CK,2022-08-03 23:46:47
13,13,Kieta,-6.2167,155.6333,83.79,71,85,6.93,PG,2022-08-03 23:46:47
17,17,Ribeira Grande,38.5167,-28.7000,75.72,88,18,5.68,PT,2022-08-03 23:46:49
18,18,Sanguem,15.2333,74.1667,76.48,97,100,1.16,IN,2022-08-03 23:46:49
19,19,Touros,-5.1989,-35.4608,75.76,84,22,5.53,BR,2022-08-03 23:46:50
22,22,Kavieng,-2.5744,150.7967,83.28,76,96,17.20,PG,2022-08-03 23:46:51

In [25]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       223
City          223
Lat           223
Lng           223
Max Temp      223
Humidity      223
Cloudiness    223
Wind Speed    223
Country       223
Date          223
dtype: int64

## Map Vacation Criteria

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1         Georgetown      MY     78.89   5.4112  100.3354
6              Erzin      TR     77.65  36.9559   36.2000
8              Bilma      NE     89.73  18.6853   12.9164
11  Puerto Escondido      MX     84.83  15.8500  -97.0667
12            Avarua      CK     77.05 -21.2078 -159.7750
13             Kieta      PG     83.79  -6.2167  155.6333
17    Ribeira Grande      PT     75.72  38.5167  -28.7000
18           Sanguem      IN     76.48  15.2333   74.1667
19            Touros      BR     75.76  -5.1989  -35.4608
22           Kavieng      PG     83.28  -2.5744  150.7967

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
6,Erzin,TR,77.65,36.9559,36.2000,Artemis Otel
8,Bilma,NE,89.73,18.6853,12.9164,Expeditions Ténére voyages
11,Puerto Escondido,MX,84.83,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
12,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
13,Kieta,PG,83.79,-6.2167,155.6333,Uruna Bay Retreat
17,Ribeira Grande,PT,75.72,38.5167,-28.7000,Quinta da Meia Eira
18,Sanguem,IN,76.48,15.2333,74.1667,Hotel
19,Touros,BR,75.76,-5.1989,-35.4608,INN NEW HORIZON
22,Kavieng,PG,83.28,-2.5744,150.7967,Nusa Island Retreat

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))